/*-- scss:defaults --*/
@import url(http://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);
$font-family-sans-serif: 'Roboto';

/* hcl(351, c(89.3, 22), c(41, 90)) */
$body-color: #333333 !default;
$link-color: #b52267;
$code-color: #333333;
$navbar-bg: #ececec;
$navbar-fg: #b52267;
$navbar-hl: #b52267;
$sidebar-fg: #333333;
$sidebar-hl: #b52267;
$toc-color: #b52267;
$toc-hl: #b52267;

/*-- scss:rules --*/
.navbar-brand-container {
    a {
        &.navbar-brand-logo {
            margin: 0;
            padding: 0;
            img {
                max-height: 1.6em;
            }
        }
    }
}
