/*-- scss:defaults --*/
@import url(http://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);
$font-family-sans-serif: 'Roboto';

/* hcl(290, c(60, 65, 25), c(55, 45, 90)) */
$body-color: #333333 !default;
$link-color: #A270BF;
$code-color: #333333;
$navbar-bg: #F2E7FB;    
$navbar-fg: #A270BF;    
$navbar-hl: #A270BF;
$sidebar-bg: #F2E7FB;    
$sidebar-fg: #333333;
$sidebar-hl: #A270BF;
$toc-color: #A270BF;
$toc-hl: #A270BF;

.navbar-brand > img {
  max-height: 70px;
}
